body {
	margin: 0;
	background-color: #f7f8f9;
	font-family: sans-serif;
	color: #455060;
}

footer {
	height: 2em;
	width: 100%;
	margin-top: 1em;
	background-color: #303742;
	color: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
}

footer p {
	text-align: center;
	padding-top: 0.3em;
	margin: 0;
}

h1 {
	text-align: center;
	margin: 0.4em;
}

#subtitle {
	text-align: center;
	font-style: italic;
}

#description span {
	font-weight:bold;
}

#body {
	width: 1200px;
	margin: auto;
}

#figure_title {
	text-align: center;
}

.CodeMirror {
	height: 400px;
	font-size: 1em;
}

#figure_container {
	height: 400px;
}

#miprem-figure {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#miprem-figure svg {
	margin: auto;
	display: block;
}
